.wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slides {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 25%;
  margin: 5px;
}

@media (max-width: 1024px) {
  .slide {
    flex: 0 0 20%;
  }
}

@media (max-width: 768px) {
  .slide {
    flex: 0 0 15%;
  }
}

.buttonWrapper {
  display: flex;
  gap: 15px;
}

.button {
  background-color: #0d2b85ad;
  border-radius: 8px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0d2b85d2;
  }

  &:focus {
    outline: none;
  }
}
