.wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slides {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  gap: 10px;
  transition: transform 0.5s ease;
}

.slide {
  width: auto;
}

.buttonWrapper {
  display: flex;
  gap: 15px;
}

.button {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border: none;
  cursor: pointer;
}

.icons {
  width: 33px;
  height: 33px;
}
